*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
body{
   background: linear-gradient(90deg,rgba(83, 42, 155, 1) 0%, rgba(199, 87, 192, 1) 50%, rgba(237, 83, 83, 1) 100%);
   color: white;
}

header{
    text-align: center;
    padding: 20px;
    color: white;
    border-style: double;
}

.biografia{
   text-align: center;
   padding: 15px;
}

.certificados{
   border-style: double;
   text-align: center;
   padding: 15px;
   margin-bottom: 20px;
}

figure {
   
    display: inline-block;
    text-align: center;
    margin: 15px;
}

figcaption {
    font-size: 1rem;
    margin-top: 5px;
}

img {
    max-width: 100px;
}

.redes {
   border-style: double;
   display: flex; 
   justify-content: center; 
   align-items: center; 
   list-style: none; 
   padding: 0;
   margin: 0;
}

.redes li {
   margin: 0 20px;
}

.redes img {
   width: 50px; 
   transition: transform 0.3s; 
}

.redes img:hover {
   transform: scale(1.2); 
   border-radius: 10px; 
}
.copi{
   text-align: center;
}